# Public URL (used for OG Image when running nuxt generate, etc.)
NUXT_PUBLIC_SITE_URL=

# Nuxt Studio Configuration
NUXT_STUDIO_PROVIDER=github
NUXT_STUDIO_OWNER=
NUXT_STUDIO_REPO=
NUXT_STUDIO_BRANCH=main
NUXT_STUDIO_PRIVATE=false
NUXT_STUDIO_ROOT_DIR=
