# Public site URL
# Syntax: Full URL including protocol (http/https), without trailing slash.
# Examples:
# NUXT_PUBLIC_SITE_URL=https://my-conference.com
# NUXT_PUBLIC_SITE_URL=https://staging.my-conference.com
# NUXT_PUBLIC_SITE_URL=http://localhost:3000
NUXT_PUBLIC_SITE_URL=

# Nuxt Studio Auth Credentials
# Here: Example with GitHub OAuth, other providers and methods are possible.
# See: https://nuxt.studio/auth-providers
STUDIO_GITHUB_CLIENT_ID=<your_client_id>
STUDIO_GITHUB_CLIENT_SECRET=<your_client_secret>
