# Public site URL
# Syntax: Full URL including protocol (http/https), without trailing slash.
# Examples:
# NUXT_PUBLIC_SITE_URL=https://my-conference.com
# NUXT_PUBLIC_SITE_URL=https://staging.my-conference.com
# NUXT_PUBLIC_SITE_URL=http://localhost:3000
NUXT_PUBLIC_SITE_URL=

# Nuxt Studio Configuration
# (This does not strictly require env vars and could be visible within the project. But keeping them here allows
# for simpler user configuration by centralizing everything in one place.)
NUXT_STUDIO_PROVIDER=github
NUXT_STUDIO_OWNER=
NUXT_STUDIO_REPO=
NUXT_STUDIO_BRANCH=main
NUXT_STUDIO_PRIVATE=false
NUXT_STUDIO_LOCALE=en

# Nuxt Studio Auth Credentials
# Here: Example with GitHub OAuth, other providers and methods are possible.
# See: https://nuxt.studio/auth-providers
STUDIO_GITHUB_CLIENT_ID=<your_client_id>
STUDIO_GITHUB_CLIENT_SECRET=<your_client_secret>
