# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# only specific files in `.vscode`
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# only specific files in `.github`
.github/*
!.github/actions/
!.github/workflows/
!.github/dependabot.yml
!.github/FUNDING.yml

# Ignore `*.psd` files in `/docs/assets`
/docs/assets/**/*.psd
